* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

main h1 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    padding: 40px;
    background: #fff;
}

form .user_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form .user_info input {
    padding: 5px;
    outline: none;
    margin-top: 5px;
}

form .btn_enviar {
    padding: 10px 15px;
    color: #fff;
    background-color: #090979;
    border: none;
    cursor: pointer;
}